/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*reset*/

/*common*/
.flex{
    display: flex;
}
.box{
width: calc(100% / 3 - 20px) ;
margin: 20px 10px 80px 10px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
img{
width: 100%;
height: 100%;
}
.cover{
position: absolute;
left: 0;
transition: 1s;
}
.tagbox{
    display: flex;
    position: absolute;
    bottom: 20px;
}
.sconto{
    background-color: red;
    padding: 5px 8px;
    color: white;
    font-size: 12px;
    margin-right: 5px;
}
.tag1{
    background-color: green;
    padding: 5px 8px;
    color: white;
    font-size: 12px;
}
.cuore{
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 10px;
}
.cuore:hover{
    color: red;
}
.card{
   position: relative;
   cursor: pointer; 
}
.cover:hover{
    opacity: 0;
}
.marca{
    font-size: 14px;
}
.descrizione{
    font-weight: bold;
}
.prezzo{
    font-size: 14px;
    color: red;
    font-weight: 600;
}
.prezzo-base{
    color: black;
    text-decoration: line-through;
    padding-left: 5px;
}
/*common*/
/*header*/
.menu{
    background-color: #ff6900;
    padding: 10px;
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.navbox{
    max-width: 1000px;
    margin:0 auto;
}
a{
    color: white;
    text-decoration: none;
    padding: 0 5px;
}
.catalogo{
    font-weight: bold;
}
.logo{
    width:100px;
    margin: 0 auto;
    
}
.account{
    color: white;
padding: 5px;
}
/*header*/
/*body*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*body*/
/*main*/
.contenitore{
    max-width: 1000px;
    margin:40px auto;
    flex-wrap: wrap;
}
/*main*/
/*footer*/
footer{
    color: white;
    background-color: #1a1a1a;
}
.box-footer{
    justify-content: space-around;
}
.chi-siamo{
    padding:20px;
    line-height: 30px;
}
.chi-siamo > a{
    font-size: 14px;
}
.nostre-pagine{
    padding: 30px;
}
.icone{
    margin:5px
}
/*footer*/